<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 리스트 페이지</title>
</head>
<body>
    <button onclick="window.location.href='/product/write'">상품 입력하기</button>
    <button onclick="window.location.href='/member/login'">로그인</button>
    <button onclick="window.location.href='/member/logout'">로그아웃</button>

    <th:block th:if="${products != null}">
        <table>
            <tr>
                <th>이름</th>
                <th>가격</th>
                <th>재고</th>
                <th>브랜드</th>
            </tr>
            <th:block th:each="product: ${products}">
                <tr th:object="${product}">
                    <td>
                        <a th:href="@{/product/read(id=${product.id})}">
                            <span th:text="*{productName}"></span>
                        </a>
                    </td>

                    <td th:text="*{productPrice}"></td>
                    <td th:text="*{productStock}"></td>
                    <td th:text="*{productBrand}"></td>
                </tr>
            </th:block>
        </table>
    </th:block>
    <th:block th:unless="${products != null}">

    </th:block>





</body>
<script th:inline="javascript">
</script>
</html>