<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 등록</title>
</head>
<body>
    <form th:action="@{/student/register}" method="post" th:object="${studentVO}">
        <input th:field="*{kor}" placeholder="국어" />
        <input th:field="*{eng}" placeholder="영어" />
        <input th:field="*{math}" placeholder="수학" />
        <button type="button">완료</button>
    </form>


</body>
<script th:inline="javascript">
    const inputs = document.querySelectorAll("input")
    const button = document.querySelector("button");
    const form = document.querySelector("form");

    button.addEventListener("click", () => {
        for(let input of inputs) {
            if(!input.value) return alert(`${input.name} 값을 입력해주세요`)
        }
        form.submit();
    })
</script>
</html>