<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>check-in</title>
</head>
<body>
<!-- "~{}" replace 경로/파일 :: 태그선택자 -->
    <header th:replace="~{/fix/header :: #header}"></header>
    <form th:action="@{/company/check-in}" method="post" th:object="${companyVO}">
        <input th:field="*{companyName}" placeholder="이름 입력" />
        <input type="hidden" id="flag-input" name="flag">
        <button type="button" id="get-to-work" >출근</button>
        <button type="button" id="leave-work" >퇴근</button>
    </form>
</body>
<script th:inline="javascript">
    const buttons = document.querySelectorAll("button");
    const form = document.querySelector("form");

    buttons.forEach((button) => {
        button.addEventListener("click", (e) => {
            const flag = e.target.innerText;
            const flagInputValue = document.querySelector("input[name='flag']")

            flagInputValue.value = flag === "출근" ? "getToWork" : "leaveWork";
            form.submit();
        })
    })
</script>
</html>