<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>출근</title>
</head>
<body>
    <form th:action="@{/work/getToWork}" method="post" th:object="${workVO}">
        <input th:field="*{workName}" placeholder="이름">
        <button>출근</button>
    </form>

</body>
<script th:inline="javascript">
</script>
</html>