<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.PostMapper">
    <select id="selectAll" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, MEMBER_ID
        FROM TBL_POST
    </select>

    <select id="select" parameterType="Long" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, MEMBER_ID
        FROM TBL_POST
        WHERE ID = #{id}
    </select>

    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, MEMBER_ID)
        VALUES (SEQ_POST.NEXTVAL, #{postTitle}, #{postContent}, #{memberId})
    </insert>

    <update id="update" parameterType="PostVO">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}
        WHERE ID = #{id}
    </update>

    <delete id="deleteAll" parameterType="Long">
        DELETE FROM TBL_POST
        WHERE MEMBER_ID = #{memberId}
    </delete>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_POST
        WHERE ID = #{Id}
    </delete>

</mapper>