<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.ProductMapper">
    <insert id="insert" parameterType="ProductVO">
        INSERT INTO TBL_PRODUCT(ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_BRAND)
        VALUES (SEQ_PRODUCT.NEXTVAL, #{productName}, #{productPrice}, #{productStock}, #{productBrand})
    </insert>

    <select id="selectAll" resultType="ProductVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_BRAND
        FROM TBL_PRODUCT
    </select>

    <update id="update" parameterType="ProductVO">
        UPDATE TBL_PRODUCT
        SET PRODUCT_NAME = #{productName}, PRODUCT_PRICE = #{productPrice}, PRODUCT_STOCK = #{productStock}, PRODUCT_BRAND = #{productBrand}
        WHERE ID = #{id}
    </update>

</mapper>